USE [master]
GO
/****** Object:  Database [MOD_DB]    Script Date: 10-10-2019 19:12:39 ******/
CREATE DATABASE [MOD_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MOD_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\MOD_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MOD_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\MOD_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MOD_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MOD_DB]
GO
USE [MOD_DB]
GO
/****** Object:  Table [dbo].[PaymentDtls]    Script Date: 10-10-2019 19:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDtls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[txtType] [varchar](50) NULL,
	[amount] [float] NULL,
	[remarks] [varchar](50) NULL,
	[mentorId] [int] NULL,
	[userId] [int] NULL,
	[MentorName] [varchar](50) NULL,
	[TrainingName] [int] NULL,
	[PaymentProgress] [varchar](50) NULL,
	[totalAmountToMentor] [float] NULL,
	[skillId] [int] NULL,
	[skillName] [varchar](50) NULL,
	[fees] [varchar](50) NULL,
	[mentorfees] [varchar](50) NULL,
	[commision] [varchar](50) NULL,
	[PaymentStatus] [bit] NULL,
 CONSTRAINT [PK_PaymentDtls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillDtls]    Script Date: 10-10-2019 19:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillDtls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[toc] [varchar](50) NULL,
	[prerequisites] [nchar](10) NULL,
	[fees] [varchar](50) NULL,
	[timings] [varchar](50) NULL,
 CONSTRAINT [PK_SkillDtls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingDtls]    Script Date: 10-10-2019 19:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingDtls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](50) NULL,
	[progress] [int] NULL,
	[commisionAmount] [float] NULL,
	[rating] [int] NULL,
	[avaRating] [float] NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[startTime] [datetime] NULL,
	[endTime] [datetime] NULL,
	[amountReceived] [float] NULL,
	[userId] [int] NOT NULL,
	[userName] [varchar](50) NULL,
	[mentorId] [int] NOT NULL,
	[mentorName] [varchar](50) NULL,
	[skillId] [int] NOT NULL,
	[skillname] [varchar](50) NULL,
	[timeslot] [varchar](50) NULL,
	[accept] [bit] NULL,
	[rejected] [bit] NULL,
	[PaymentStatus] [bit] NULL,
 CONSTRAINT [PK_TrainingDtls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usign]    Script Date: 10-10-2019 19:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usign](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[firstName] [char](50) NOT NULL,
	[lastName] [char](50) NOT NULL,
	[Phone] [numeric](10, 0) NOT NULL,
	[profile] [varchar](50) NULL,
	[LinkedinURL] [varchar](50) NULL,
	[YOE] [int] NULL,
	[resetPassword] [bit] NULL,
	[pictureUrl] [varchar](50) NULL,
	[active] [bit] NOT NULL,
	[role] [int] NOT NULL,
	[regCode] [varchar](20) NULL,
	[TrainerTimings] [varchar](50) NULL,
	[TrainerTechnology] [varchar](50) NULL,
 CONSTRAINT [PK_usign] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__usign__A9D10534D340DD47] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TrainingDtls]  WITH CHECK ADD  CONSTRAINT [FK_TrainingDtls_SkillDtls] FOREIGN KEY([skillId])
REFERENCES [dbo].[SkillDtls] ([id])
GO
ALTER TABLE [dbo].[TrainingDtls] CHECK CONSTRAINT [FK_TrainingDtls_SkillDtls]
GO
USE [master]
GO
