<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" style="color: white">Mentor On Demand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- <a class="nav-link" routerLink="/home" routerLinkActive="true">Home <span class="sr-only">(current)</span></a> -->
        </li>
      </div>
      <ul class="navbar-nav">
        <!-- <li  class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLinkActive="true" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Notification
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">New Training Started</a>
            <a class="dropdown-item" href="#">Training Completed 75%</a>
            <a class="dropdown-item" href="#">Payment Successfull</a>
          </div>
        </li> -->
      </ul>
      <a class="nav-link"> <button class="btn btn-sm btn-info" type="submit" (click)="notification()">Notification</button></a>
    
      <a class="nav-link"> <button class="btn btn-sm btn-danger" type="submit" (click)="logout()">Logout</button></a>
    </div>
  </nav>