<!DOCTYPE html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



    

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a routerLink="/mmenu" class="navbar-brand">Mentor Home</a>
      </div>
      
        <div class="collapse navbar-collapse" id="myNavbar">
          

      
       <ul class="nav navbar-nav navbar-right">
        <li><a onclick='alert("no notifications")'><span class="glyphicon glyphicon-bell"></span> Notification</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Hi {{user}}</a>
        
    </li>
    <li class="dropdown"><a onclick='logout()' class="dropdown-toggle" data-toggle="dropdown" ><button type="button" class="dropdown-toggle" id="himanshu"  data-toggle="dropdown" (click)="logout()" >Logout</button></a></li>
      </ul>
        
  
      
      <form class="navbar-form navbar-right" action="/action_page.php">
        
  
      </form>
    </div>
    
    </div></nav>
    <div class="jumbotron text-center">
        <br><br>
 <h2>Mentor Menu</h2>      
   </div>
   <div class="container-fluid">
      <div class="row">
              <div class="col-md-2 ">
                 
              </div>
              <div class="col-md-8 text-center">
                      <button type="button"  routerLink="/mmenu" class="btn btn-outline-dark button">Current Trainings</button>
                      <button type="button" routerLink="/mctraining" class=" btn btn-outline-dark button" >Completed Trainings</button>
                      <!-- <button type="button" routerLink="/EditSkills" class=" btn btn-outline-dark button">Edit Skills</button> -->
                      <button type="button" routerLink="/reqtraining" class=" btn btn-outline-dark button">Training Requested</button>
                      <button type="button" routerLink="/mpayment" class=" btn btn-outline-dark button">Payment Details</button>
              </div>
              <div class="col-md-2">

              </div>
      </div>

      <div class="row">
      
          <div class="col-md-12 text-center">
          <div class="table-responsive" style="margin-top:30px;"> 
                  <h4>Current Trainings</h4><br><br>
                    <table class="table">
          <thead class="thead-dark">
              <tr>
                
                  <th>Technology</th>
                  <th>Username</th>
                  <th>Duration</th>
                  <th>Progress</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
                  <tr *ngFor="let i of myTrainings">
                     <td>{{i.skillname}}</td>
                     <td>{{i.userName}}</td>
                     <td>{{i.startDate | date: 'dd/MM/yyyy'}} to {{i.endDate | date: 'dd/MM/yyyy'}}</td>
                     <td *ngIf="i.progress!=undefined">{{i.progress}} %</td>
                     <td *ngIf="i.progress==undefined">0 %</td>
                     <td>
                      <button type="button" class="btn btn-sm btn-success" 
                      data-toggle="modal" data-target="#myModal"
                      (click)="Update(i.id)">Update</button>
                     </td>
                  </tr>

              <tr *ngIf="Data" style="text-align: center">
                  <div>
                          <h2>No Records Found</h2>
                  </div>
                
              </tr>
          </tbody>
      </table>
              </div>
              <!-- Model Starts Here -->
              <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Update Progress</h4>
                          </div>
                        <div class="modal-body" style="text-align: left">
                          <h6>Training</h6>
                          <hr>
                          <input name="Progress" placeholder="Enter Progress" class="rounded" [(ngModel)]="Progress">
                          <button type="button" class="btn btn-sm btn-success"(click)="Mainupdate()">Save</button>
                     
                        </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                    
                      </div>
                    </div>
                <!-- Model End -->
              </div>
            </div>
    </div>
