<!DOCTYPE html>
<html>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>
            .container-fluid{
                margin-left: 50px;
            }
        </style>
    </head>
<body>
        
         
  <div class="container my-5">
<div class="form-container sign-in-container">
    <form [formGroup]="MentorRegister" autocomplete="off" (submit)="onSubmit()">
        <h1>Create Account</h1>
        <div class="form-group">
          <input formControlName="Email" type="Email" placeholder="Email" name="Email" class="form-control" id="Email">
          <small class="text-danger"
            *ngIf="MentorRegister.get('Email').touched && MentorRegister.get('Email').errors?.required">This field is
            mandatory</small>
          <small class="text-danger"
            *ngIf="MentorRegister.get('Email').touched && MentorRegister.get('Email').errors?.pattern">Invalid Email
            Address</small>
        </div>
        <div class="form-group">
          <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control"
            id="firstName">
          <small class="text-danger"
            *ngIf="MentorRegister.get('firstName').touched && MentorRegister.get('firstName').errors?.required">This field
            is mandatory</small>
          <small class="text-danger"
            *ngIf="MentorRegister.get('firstName').touched && MentorRegister.get('firstName').errors?.pattern">FirstName
            cannot have special characters or digits</small>
        </div>
        <div class="form-group">
          <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
          <small class="text-danger"
            *ngIf="MentorRegister.get('lastName').touched && MentorRegister.get('lastName').errors?.required">This field is
            mandatory</small>
          <small class="text-danger"
            *ngIf="MentorRegister.get('lastName').touched && MentorRegister.get('lastName').errors?.pattern">LastName cannot
            have special characters or digits</small>
        </div>

        <div class="form-group">
          <input formControlName="Phone" placeholder="Contact Number" name="Phone" class="form-control" id="Phone">
          <small class="text-danger"
            *ngIf="MentorRegister.get('Phone').touched && MentorRegister.get('Phone').errors?.required">This field is
            mandatory</small>
          <small class="text-danger"
            *ngIf="MentorRegister.get('Phone').touched && MentorRegister.get('Phone').errors?.pattern">Invalid Phone
            Number</small>
        </div>

        <div class="form-group">
          <input formControlName="LinkedinURL" placeholder="Linkedin URL" name="LinkedinURL" class="form-control"
            id="LinkedinURL">
          <small class="text-danger"
            *ngIf="MentorRegister.get('LinkedinURL').touched && MentorRegister.get('LinkedinURL').errors?.required">This
            field is mandatory</small>
          <small class="text-danger"
            *ngIf="MentorRegister.get('LinkedinURL').touched && MentorRegister.get('LinkedinURL').errors?.pattern">Invalid
            Linkedin Url </small>
        </div>
        <div class="form-group">
          <input formControlName="userName" placeholder="Username" name="userName" class="form-control" id="userName">
          <small class="text-danger"
            *ngIf="MentorRegister.get('userName').touched && MentorRegister.get('userName').errors?.required">This field is
            mandatory</small>
          <small class="text-danger"
            *ngIf="MentorRegister.get('userName').touched && MentorRegister.get('userName').errors?.minlength">Minimun 6
            characters required</small>
        </div>
        <div class="form-group">
          <input type="password" formControlName="Password" placeholder="Password" name="Password" class="form-control" id="Password">
          <small class="text-danger" *ngIf="MentorRegister.get('Password').touched && MentorRegister.get('Password').errors?.required">This field is
            mandatory</small>
          <small class="text-danger"
            *ngIf="MentorRegister.get('Password').touched && MentorRegister.get('Password').errors?.minlength">Minimun
            8 characters required</small>
        </div>
        
        <!-- <div class="form-group">
   
      <label class="control-label"  for="Experience">Experience</label>
      <div class="controls form-group">
<select name="Experience"  id="Experience" class="span5">
	<option value="Less than 6 months">Less than 6 months</option>
  <option value="1">1 Year</option>
  <option value="2">2 Years</option>
  <option value="3">3 Years</option>
  <option value="4">4 Years</option>
  <option value="More than 5 Years">more than</option>

</select>
      </div> -->
    <!-- </div> -->
        
         <div class="form-group">
    <input formControlName="YOE" placeholder="Experience in Years" name="YOE" class="form-control" id="YOE">
    <small class="text-danger"
            *ngIf="MentorRegister.get('YOE').touched && MentorRegister.get('YOE').errors?.required">This field is
            mandatory</small>
          <small class="text-danger"
            *ngIf="MentorRegister.get('YOE').touched && MentorRegister.get('YOE').errors?.pattern">Invalid Format</small>
  </div>
  <div class="form-group" *ngIf="SkillData">
    <label>Technology</label>
    <select formControlName="Technology" class="form-control rounded text-center dropdown">
          <option *ngFor="let i of SkillData" value="{{i.name}}">{{i.name}}</option>
    </select>
    <!-- <small class="text-danger"
    *ngIf="UserRegister.get('Technology').touched && UserRegister.get('Technology').errors?.required">This
    field is mandatory</small> -->
</div>
      

  <button class="btn btn-primary" [disabled]="!MentorRegister.valid">Register</button>
  <p>Sign up as User <a routerLink="/usignup">Click here</a></p>

    </form>
  </div>
        
  <div class="overlay-container">
    <div class="overlay">
     
      <div class="overlay-panel overlay-right">
        <h1>Welcome!</h1>
        <p>Enter your personal details and start journey with us</p>
        <p>Or Sign-in if you have a account</p>
       <a routerLink="/login"> <button class="ghost" id="signIn">Sign in</button></a>
      </div>
    </div>
  </div>
</div>

        
        
        
    
    </body>
</html>