
<app-navbar></app-navbar>
    <div class="jumbotron text-center">
        <br><br>

        


 <h2>Mentor Menu</h2>      
   </div>
   <div class="container-fluid">
      <div class="row">
              <div class="col-md-2 ">
                 
              </div>
              <div class="col-md-8 text-center">
                      <button type="button"  routerLink="/mmenu" class="btn btn-outline-dark button">Current Trainings</button>
                      <button type="button" routerLink="/mctraining" class=" btn btn-outline-dark button" >Completed Trainings</button>
                      <!-- <button type="button" routerLink="/EditSkills" class=" btn btn-outline-dark button">Edit Skills</button> -->
                      <button type="button" routerLink="/reqtraining" class=" btn btn-outline-dark button">Training Requested</button>
                      <button type="button" routerLink="/mpayment" class=" btn btn-outline-dark button">Payment Details</button>
              </div>
              <div class="col-md-2">

              </div>
      </div>

      <div class="row">
            <div class="col-md-12 text-center">
            <div class="table-responsive" style="margin-top:30px;"> 
                    <h4>Completed Trainings</h4><br><br>
                      <table class="table">
            <thead class="thead-dark">
                <tr>
                  
                    <th>Technology</th>
                    <th>Username</th>
                    <th>End Date</th>
                    <th>Progress</th>
                   
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let i of myTrainings">
                            <td>{{i.skillname}}</td>
                            <td>{{i.userName}}</td>
                            <td>{{i.endDate | date: 'dd/MM/yyyy'}}</td>
                            <!-- <td>{{i.timeSlot}}</td> -->
                            <td *ngIf="i.progress!=undefined">
                              <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">
                                  {{i.progress}} %
                              </div>
                            </td>
                            <td *ngIf="i.progress==undefined">
                                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 100%">
                                    Pending
                                </div>
                            </td>
                        </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</div>