
<app-navbar></app-navbar>
<div class="jumbotron text-center">
  <br><br>
  <h2>Mentor Menu</h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 ">

    </div>
    <div class="col-md-8 text-center">
      <button type="button" routerLink="/mmenu" class="btn btn-outline-dark button">Current Trainings</button>
      <button type="button" routerLink="/mctraining" class=" btn btn-outline-dark button">Completed Trainings</button>
      <button type="button" routerLink="/reqtraining" class=" btn btn-outline-dark button">Training Requested</button>
      <button type="button" routerLink="/mpayment" class=" btn btn-outline-dark button">Payment Details</button>
    </div>
    <div class="col-md-2">

    </div>
  </div>


  <div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-12">
      <div class="table-responsive" style="margin-top:30px;">
        <h4>Payment Management</h4><br><br>
        <table class="table">
          <thead class="thead-dark">
            <tr>

              <th>Technology</th>
              <th>Status</th>
              <th>Action</th>
              <!-- <th>Payment Details</th> -->

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of myPayRecord">
              <td>{{i.skillName}}</td>

              <td><strong style="color: green"> Paid : {{i.fees}}</strong></td>
              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                  (click)="getDetails(i.id)">
                  See Details
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div *ngIf="getRecord" class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Payment Recipt</h4>
      </div>
      <div class="modal-body" *ngFor="let i of getRecord" style="text-align: left">
        <h6>Training - {{i.skillName}}</h6>
        <hr>
        <p *ngIf="i.PaymentStatus">Payment Status - <span style="color:green">Confirmed</span></p>
        <hr>
        <p>Amount Paid -<span style="color:green">&#8377;{{i.fees}}</span> </p>
        <p *ngIf="userData">By {{userData.userName}} </p>
        <p *ngIf="userData">{{userData.Email}} </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<!-- <div class="row" style="text-align: center" *ngIf="show">
  <div class="col-md-12">
    <div style="margin-top: 10px">
      <h4>No Records Found</h4>

    </div>
  </div>
</div> -->