
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
              </div>
              
                <div class="collapse navbar-collapse" id="myNavbar">
                  
        
              
               <ul class="nav navbar-nav navbar-right">
                <li><a onclick='alert("no notifications")'><span class="glyphicon glyphicon-bell"></span> Notification</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Hi {{usign.firstName}}</a></li>
                <li class="dropdown"><a onclick='logout()' class="dropdown-toggle" data-toggle="dropdown" ><button type="button" class="dropdown-toggle"  data-toggle="dropdown" (click)="logout()" >Logout</button></a></li>
            
              </ul>
                
          
              
            </div>
            
            </div></nav>
        
            
                
                 <div class="jumbotron text-center">
                   <br><br>
            <h2>Training Menu</h2>      
              </div>
            <!-- <div class="row">
            <div class="col-sm-4 text-center">
                <a routerLink="/tsearch"><button type="button" class="btn btn-primary btn-block">Search Trainings</button></a>
                </div>
                <div class="col-sm-4 text-center">
               <a routerLink="/uprogress"> <button type="button" class="btn btn-primary btn-block">Current Trainings</button></a>
                </div>
                <div class="col-sm-4 text-center">
                <a routerLink="/ctraining"> <button type="button" class="btn btn-primary btn-block">Completed Trainings</button></a>
                </div>
            
            </div>
    </div>
    <div class="container-fluid well" style="border: solid">
                  <h3>Completed Courses</h3>
                  <table class="table table-striped">
  <thead>
  <tr>
    <th class="hidden">Id</th>
    <th>Start Date</th>
    <th>Fees</th>
    <th>MentorId</th>
    <th>Progress</th>
    <th>Rating</th>
  </tr>
  </thead>
          
  <tbody>
  <tr *ngFor="let train of training">
      
    <td class="hidden">{{train.id}}</td>
    
      <td>{{train.startDate}}</td>
      <td>{{train.fees}}</td>
      <td>{{train.mentorId}}</td>
       
      <td><circle-progress
  [percent]="train.progress"
  [radius]="20"
  [outerStrokeWidth]="4"
  [innerStrokeWidth]="1.5"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"                                        
></circle-progress>
          </td>
    <td><ngb-rating [(rate)]="train.rating">
  <ng-template let-fill="fill" let-index="index">
    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
  </ng-template>
</ngb-rating>

          </td>
  </tr>
  </tbody>
</table>
                
        </div>
    </body> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 ">
             
            </div>
            <div class="col-md-8 text-center">
                    <button type="button" routerLink="/tsearch" class=" btn btn-outline-dark button">Search Trainings</button>
                    <button type="button" routerLink="/umenu" class=" btn btn-outline-dark button">Current Trainings</button>
                    <button type="button" routerLink="/ctraining" class="btn btn-outline-dark button">Completed Trainings</button>
                    <button type="button" routerLink="/ViewRequest" class="btn btn-outline-dark button">Approvals</button>
            </div>
            <div class="col-md-2">

            </div>
    </div>
     
    
      <div class="row">
        <div class="col-md-12 text-center">
        <div class="table-responsive" style="margin-top:30px;"> 
          <h4>Completed Trainings</h4>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                  
                <th>Technologhy</th>
                <th>Trainer Name</th>
                <th>Duration</th>
                <!-- <th>Timing</th> -->
                <th>Status</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of myTrainings">
                <td>{{i.skillname}}</td>
                <td>{{i.mentorName}}</td>
                <td>{{i.startDate | date: 'dd/MM/yyyy'}} to {{i.endDate | date: 'dd/MM/yyyy'}}</td>
                <!-- <td>{{i.timeSlot}}</td> -->
                <td *ngIf="i.progress!=undefined">
                  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">
                      {{i.progress}} %
                  </div>
                </td>
                <td *ngIf="i.progress==undefined">
                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 100%">
                        Pending
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
            </div>
           
            </div>
    </div>  
    </div>

