
<app-navbar></app-navbar>
      
        
            
                
                 <div class="jumbotron text-center">
                   <br><br>
            <h2>Training Menu</h2>      
              </div>
            <!-- <div class="row">
            <div class="col-sm-4 text-center">
                <a routerLink="/tsearch"><button type="button" class="btn btn-primary btn-block">Search Trainings</button></a>
                </div>
                <div class="col-sm-4 text-center">
               <a routerLink="/uprogress"> <button type="button" class="btn btn-primary btn-block">Current Trainings</button></a>
                </div>
                <div class="col-sm-4 text-center">
                <a routerLink="/ctraining"> <button type="button" class="btn btn-primary btn-block">Completed Trainings</button></a>
                </div>
            
            </div>
    </div>
    <div class="container-fluid well" style="border: solid">
                  <h3>Completed Courses</h3>
                  <table class="table table-striped">
  <thead>
  <tr>
    <th class="hidden">Id</th>
    <th>Start Date</th>
    <th>Fees</th>
    <th>MentorId</th>
    <th>Progress</th>
    <th>Rating</th>
  </tr>
  </thead>
          
  <tbody>
  <tr *ngFor="let train of training">
      
    <td class="hidden">{{train.id}}</td>
    
      <td>{{train.startDate}}</td>
      <td>{{train.fees}}</td>
      <td>{{train.mentorId}}</td>
       
      <td><circle-progress
  [percent]="train.progress"
  [radius]="20"
  [outerStrokeWidth]="4"
  [innerStrokeWidth]="1.5"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"                                        
></circle-progress>
          </td>
    <td><ngb-rating [(rate)]="train.rating">
  <ng-template let-fill="fill" let-index="index">
    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
  </ng-template>
</ngb-rating>

          </td>
  </tr>
  </tbody>
</table>
                
        </div>
    </body> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 ">
             
            </div>
            <div class="col-md-8 text-center">
                    <button type="button" routerLink="/tsearch" class=" btn btn-outline-dark button">Search Trainings</button>
                    <button type="button" routerLink="/umenu" class=" btn btn-outline-dark button">Current Trainings</button>
                    <button type="button" routerLink="/ctraining" class="btn btn-outline-dark button">Completed Trainings</button>
                    <button type="button" routerLink="/uprogress" class="btn btn-outline-dark button">Approvals</button><br><br>
                    <h3>Completed Trainings</h3>
            </div>
            <div class="col-md-2">

            </div>
    </div>
     
    
      <div class="row">
        <div class="col-md-12">
        <div class="table-responsive" style="margin-top:30px;"> 
          
          <table class="table">
            <thead class="thead-dark">
              <tr>
                  
                <th>Technology</th>
                <th>Trainer Name</th>
                <th>Duration</th>
                <!-- <th>Timing</th> -->
                <th>Status</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of myTrainings">
                <td>{{i.skillname}}</td>
                <td>{{i.mentorName}}</td>
                <td>{{i.startDate | date: 'dd/MM/yyyy'}} to {{i.endDate | date: 'dd/MM/yyyy'}}</td>
                <!-- <td>{{i.timeSlot}}</td> -->
                <td *ngIf="i.progress!=undefined">
                  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">
                      {{i.progress}} %
                  </div>
                </td>
                <td *ngIf="i.progress==undefined">
                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 100%">
                        Completed
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
            </div>
           
            </div>
    </div>  
    </div>

