<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="form-container sign-in-container">
      <form [formGroup]="UserRegister" autocomplete="off" (submit)="onSubmit()">
        <h1>Create Account</h1>
        <div class="form-group">
          <input formControlName="Email" type="Email" placeholder="Email" name="Email" class="form-control" id="Email">
          <small class="text-danger"
            *ngIf="UserRegister.get('Email').touched && UserRegister.get('Email').errors?.required">This field is
            mandatory</small>
          <small class="text-danger"
            *ngIf="UserRegister.get('Email').touched && UserRegister.get('Email').errors?.pattern">Invalid Email
            Address</small>
        </div>
        <div class="form-group">
          <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control"
            id="firstName">
          <small class="text-danger"
            *ngIf="UserRegister.get('firstName').touched && UserRegister.get('firstName').errors?.required">This field
            is mandatory</small>
          <small class="text-danger"
            *ngIf="UserRegister.get('firstName').touched && UserRegister.get('firstName').errors?.pattern">FirstName
            cannot have special characters or digits</small>
        </div>
        <div class="form-group">
          <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
          <small class="text-danger"
            *ngIf="UserRegister.get('lastName').touched && UserRegister.get('lastName').errors?.required">This field is
            mandatory</small>
          <small class="text-danger"
            *ngIf="UserRegister.get('lastName').touched && UserRegister.get('lastName').errors?.pattern">LastName cannot
            have special characters or digits</small>
        </div>

        <div class="form-group">
          <input formControlName="Phone" placeholder="Contact Number" name="Phone" class="form-control" id="Phone">
          <small class="text-danger"
            *ngIf="UserRegister.get('Phone').touched && UserRegister.get('Phone').errors?.required">This field is
            mandatory</small>
          <small class="text-danger"
            *ngIf="UserRegister.get('Phone').touched && UserRegister.get('Phone').errors?.pattern">Invalid Phone
            Number</small>
        </div>

        <div class="form-group">
          <input formControlName="LinkedinURL" placeholder="Linkedin URL" name="LinkedinURL" class="form-control"
            id="LinkedinURL">
          <small class="text-danger"
            *ngIf="UserRegister.get('LinkedinURL').touched && UserRegister.get('LinkedinURL').errors?.required">This
            field is mandatory</small>
          <small class="text-danger"
            *ngIf="UserRegister.get('LinkedinURL').touched && UserRegister.get('LinkedinURL').errors?.pattern">Invalid
            Linkedin Url </small>
        </div>
        <div class="form-group">
          <input formControlName="userName" placeholder="Username" name="userName" class="form-control" id="userName">
          <small class="text-danger"
            *ngIf="UserRegister.get('userName').touched && UserRegister.get('userName').errors?.required">This field is
            mandatory</small>
          <small class="text-danger"
            *ngIf="UserRegister.get('userName').touched && UserRegister.get('userName').errors?.minlength">Minimun 6
            characters required</small>
        </div>
        <div class="form-group">
          <input type="password" formControlName="Password" placeholder="Password" name="Password" class="form-control" id="Password">
          <small class="text-danger" *ngIf="UserRegister.get('Password').touched && UserRegister.get('Password').errors?.required">This field is
            mandatory</small>
          <small class="text-danger"
            *ngIf="UserRegister.get('Password').touched && UserRegister.get('Passwords.Password').errors?.minlength">Minimun
            8 characters required</small>
        </div>
        

        <input class="hidden" value="active">
        <button class="btn btn-primary" [disabled]="!UserRegister.valid">Register</button>
        <p>Sign up as Trainer <a routerLink="/msignup">Click here</a></p>

      </form>
    </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Welcome!</h1>
        <p>Enter your personal details and start journey with us</p>
        <p>Or Sign-in if you have a account</p>
        <a routerLink="/login"> <button class="ghost" id="signIn">Sign in</button></a>
      </div>
    </div>
  </div>
  
</div>
</body>