<!DOCTYPE html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



    

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a routerLink="/home" class="navbar-brand">Home</a>
      </div>
      
        <div class="collapse navbar-collapse" id="myNavbar">
          

      
       <ul class="nav navbar-nav navbar-right">
        <li><a onclick='alert("no notifications")'><span class="glyphicon glyphicon-bell"></span> Notification</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Hi {{user}}</a>
        
    </li>
    <li class="dropdown"><a onclick='logout()' class="dropdown-toggle" data-toggle="dropdown" ><button type="button" class="dropdown-toggle" id="himanshu"  data-toggle="dropdown" (click)="logout()" >Logout</button></a></li>
      </ul>
        
  
      
      <form class="navbar-form navbar-right" action="/action_page.php">
        
  
      </form>
    </div>
    
    </div></nav>
    <div class="jumbotron text-center">
        <br><br>
 <h2>Mentor Menu</h2>      
   </div>
   <div class="container-fluid">
      <div class="row">
              <div class="col-md-2 ">
                 
              </div>
              <div class="col-md-8 text-center">
                      <button type="button"  routerLink="/mmenu" class="btn btn-outline-dark button">Current Trainings</button>
                      <button type="button" routerLink="/mctraining" class=" btn btn-outline-dark button" >Completed Trainings</button>
                      <!-- <button type="button" routerLink="/EditSkills" class=" btn btn-outline-dark button">Edit Skills</button> -->
                      <button type="button" routerLink="/reqtraining" class=" btn btn-outline-dark button">Training Requested</button>
                      <button type="button" routerLink="/PaymentDetails" class=" btn btn-outline-dark button">Payment Details</button>
              </div>
              <div class="col-md-2">

              </div>
      </div><br>
      <div class="row">
                
            <div class="col-md-4">
            <div class="table-responsive" style="margin-top:30px;"> 
                   
                      <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Requested</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of Requested">
                    <p><strong>{{i.userName}} Requested {{i.skillname}} from {{i.startDate | date: 'dd/MM/yyyy'}} to {{i.endDate | date: 'dd/MM/yyyy'}}</strong></p>
                    <p>
        <button type="button" class="btn btn-sm btn-success" (click)="RequestApproved(i.id)">Approve</button>

        <button type="button" class="btn btn-sm btn-danger"(click)="RequestDeclined(i.id)">Decline</button>
                    </p>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-4 text-center">
        <div class="table-responsive" style="margin-top:30px;"> 
                  <table class="table">
        <thead class="thead-dark">
            <tr>
              <th>Approved</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let i of Approved">
                        <p><strong>- {{i.userName}} Approved for {{i.skillname}} from {{i.startDate | date: 'dd/MM/yyyy'}} to {{i.endDate | date: 'dd/MM/yyyy'}}</strong></p>
                      
                    </tr>
        </tbody>
    </table>
</div>
</div>


<div class="col-md-4 text-center">
    <div class="table-responsive" style="margin-top:30px;"> 
            <table class="table">
  <thead class="thead-dark">
      <tr>
        <th>Rejected</th>
      </tr>
  </thead>
  <tbody>
          <tr *ngFor="let i of Declined">
                  <p><strong>- Rejected {{i.userName}} for {{i.skillname}} from {{i.startDate | date: 'dd/MM/yyyy'}} to {{i.endDate | date: 'dd/MM/yyyy'}}</strong></p>
              </tr>
  </tbody>
</table>
</div>
</div>

</div> 


</div> 

